/*

        Creating a sprite from following images:
        
        ./sprites/circular.png (238x238)
        ./sprites/katakana.png (112x34)
        ./sprites/About.png (11x82)
        ./sprites/btn_left_pressed.png (46x46)
        ./sprites/btn_right_normal.png (46x46)
        ./sprites/btn_left_normal.png (46x46)
        ./sprites/btn_right_pressed.png (46x46)
        ./sprites/btn_up_pressed.png (46x46)
        ./sprites/btn_up_normal.png (46x46)
        ./sprites/arrowwhite.png (34x22)

        Output files:
          ./sprites.png
          ./sprites.css

        Output size:
          350x238


*/
img.circular { width: 238px; height: 238px; background: url(sprites.png) 0px 0px no-repeat; }
img.katakana { width: 112px; height: 34px; background: url(sprites.png) -238px 0px no-repeat; }
img.About { width: 11px; height: 82px; background: url(sprites.png) -238px -34px no-repeat; }
img.btn_left_pressed { width: 46px; height: 46px; background: url(sprites.png) -249px -34px no-repeat; }
img.btn_right_normal { width: 46px; height: 46px; background: url(sprites.png) -295px -34px no-repeat; }
img.btn_left_normal { width: 46px; height: 46px; background: url(sprites.png) -238px -116px no-repeat; }
img.btn_right_pressed { width: 46px; height: 46px; background: url(sprites.png) -284px -116px no-repeat; }
img.btn_up_pressed { width: 46px; height: 46px; background: url(sprites.png) -238px -162px no-repeat; }
img.btn_up_normal { width: 46px; height: 46px; background: url(sprites.png) -284px -162px no-repeat; }
img.arrowwhite { width: 34px; height: 22px; background: url(sprites.png) -249px -80px no-repeat; }
