#circular
  width: 238px
  height: 238px
  background: url(../images/main/sprites.png) 0px 0px no-repeat

#thumbnails-header
  width: 112px
  height: 34px
  background: url(../images/main/sprites.png) -238px 0px no-repeat

#thumbnails-about
  width: 11px
  height: 82px
  background: url(../images/main/sprites.png) -238px -34px no-repeat

// #btn_left_pressed
//   width: 46px
//   height: 46px
//   background: url(sprites.png) -249px -34px no-repeat

// #btn_right_normal
//   width: 46px
//   height: 46px
//   background: url(sprites.png) -295px -34px no-repeat

// #btn_left_normal
//   width: 46px
//   height: 46px
//   background: url(sprites.png) -238px -116px no-repeat

// #btn_right_pressed
//   width: 46px
//   height: 46px
//   background: url(sprites.png) -284px -116px no-repeat

// #btn_up_pressed
//   width: 46px
//   height: 46px
//   background: url(sprites.png) -238px -162px no-repeat

// #btn_up_normal
//   width: 46px
//   height: 46px
//   background: url(sprites.png) -284px -162px no-repeat

#arrowwhite
  width: 34px
  height: 22px
  background: url(../images/main/sprites.png) -249px -80px no-repeat

