// @keyframes fly
// 	0%
// 		transform translateX(0px)
// 		transform translateY(0px)
// 		transform translateZ(-200px)
// 		opacity 0
// 	10%
// 		opacity 1
// 	90%
// 		opacity 1
// 	100%
// 		transform translateX(0px)
// 		transform translateY(0px)
// 		transform translateZ(100px)
// 		opacity 0

#background
	perspective 400

#background-clouds
	transform-style preserve-3d

	> div
		width 256px
		height 256px
		position absolute

// .cloudAnim
// 	animation fly 5s infinite linear