@import 'nib'

// MAIN

global-reset()

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

html, body
	overflow hidden
	font-family: 'Roboto', sans-serif;

#content
	background url
	background url(../images/bg/sky.jpg) top left no-repeat
	background-size 100% 100%

@import 'desktop/gallery'
@import 'desktop/thumbnails'
@import 'desktop/background'
