html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
#circular{width:238px;height:238px;background:url("../images/main/sprites.png") 0 0 no-repeat}
#thumbnails-header{width:112px;height:34px;background:url("../images/main/sprites.png") -238px 0 no-repeat}
#thumbnails-about{width:11px;height:82px;background:url("../images/main/sprites.png") -238px -34px no-repeat}
@import url("http://fonts.googleapis.com/css?family=PT+Sans");
html,body{overflow:hidden}
p{font-family:'PT Sans',sans-serif;font-weight:400}
*{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
#content{background:url("../images/bg/sky.jpg") top left no-repeat;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%}
#copyright{position:absolute;bottom:10px;right:10px;z-index:1000;}
#copyright p{font-size:10px;color:#fff;line-height:16px;text-align:right}
#copyright a{color:#f1b9c4;text-decoration:none;}
#copyright a:hover{border-bottom:1px dotted #f1b9c4}
#preloader{position:absolute;margin-left:-30px;top:50%;left:50%}
.desktop #gallery{position:absolute;top:0;left:0;z-index:10;background-color:#000;}
.desktop #gallery a{position:absolute}
.desktop #gallery-content{text-align:center;}
.desktop #gallery-content img{width:auto;height:100%}
.desktop #gallery-thumbleft,.desktop #gallery-thumbright{position:absolute;margin-top:-52px;-webkit-transform:scale(.5,.5);-moz-transform:scale(.5,.5);-o-transform:scale(.5,.5);-ms-transform:scale(.5,.5);transform:scale(.5,.5);opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.desktop #gallery-thumbleft img,.desktop #gallery-thumbright img{-webkit-border-radius:75px;border-radius:75px;border:4px solid #fff}
.desktop a#gallery-left{width:54px;height:54px;background:url("../images/main/sprites.png") -292px -116px no-repeat;}
.desktop a#gallery-left:hover{background:url("../images/main/sprites.png") -249px -34px no-repeat}
.desktop a#gallery-right{width:54px;height:54px;background:url("../images/main/sprites.png") -238px -116px no-repeat;}
.desktop a#gallery-right:hover{background:url("../images/main/sprites.png") -238px -170px no-repeat}
.desktop a#gallery-close{width:54px;height:54px;background:url("../images/main/sprites.png") 0 -238px no-repeat;}
.desktop a#gallery-close:hover{background:url("../images/main/sprites.png") -292px -170px no-repeat}
.desktop #gallery-preload{position:absolute;left:50%;top:50%;margin:-10px 0 0 -100px;color:#fff;font-size:18px;width:200px;text-align:center}
.desktop #thumbnails{white-space:nowrap;position:relative;-webkit-perspective:400;-moz-perspective:400;-ms-perspective:400;perspective:400;-moz-transform:perspective(400px);}
.desktop #thumbnails:hover{cursor:url("../images/hand.cur"),move;cursor:-webkit-grab;cursor:-moz-grab}
.desktop #thumbnails:active{cursor:url("../images/hand-h.cur"),move;cursor:-webkit-grabbing;cursor:-moz-grabbing}
.desktop #thumbnails #thumbnails-group{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;}
.desktop #thumbnails #thumbnails-group > div{display:inline-block;width:150px;height:150px;position:absolute;}
.desktop #thumbnails #thumbnails-group > div img{-webkit-border-radius:75px;border-radius:75px;-webkit-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000}
.desktop #thumbnails #thumbnails-group > div:first-child{margin-left:0}
.desktop .thumbsnails-title{margin:0 0 70px -50%;position:absolute;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";width:300px;}
.desktop .thumbsnails-title p{text-align:center;color:#fff;font-size:24px}
.desktop #thumbnails-header{position:absolute;top:35px;left:50%;margin-left:-56px}
.desktop #thumbnails-about{position:absolute;bottom:0;left:50%}
.desktop #thumbsnails-bg{position:absolute;left:-44px;top:-44px;z-index:-10}
.desktop .thumbsnails-selected{-webkit-transform:scale(.5,.5);-moz-transform:scale(.5,.5);-o-transform:scale(.5,.5);-ms-transform:scale(.5,.5);transform:scale(.5,.5);opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";width:238px;height:238px;background:url("../images/main/sprites.png") 0 0 no-repeat;position:absolute;left:-44px;top:-44px;z-index:-10}
.desktop #thumbnails-black{background-color:#000;position:absolute;-webkit-transform:translateZ(-10px) scale(1.2,1.2);-moz-transform:translateZ(-10px) scale(1.2,1.2);-o-transform:translateZ(-10px) scale(1.2,1.2);-ms-transform:translateZ(-10px) scale(1.2,1.2);transform:translateZ(-10px) scale(1.2,1.2);opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.desktop .thumbnails-arrow{position:absolute;left:58px;top:0;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";width:34px;height:22px;background:url("../images/main/sprites.png") -303px -34px no-repeat}
#background{-webkit-perspective:400;-moz-perspective:400;-ms-perspective:400;perspective:400;-moz-transform:perspective(400px)}
#background-clouds{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;}
#background-clouds > div{width:256px;height:256px;position:absolute}
#background-rain{position:absolute;z-index:-1000}
