@import 'nib'

// MAIN

global-reset()

//@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
//@import url(http://fonts.googleapis.com/css?family=Noto+Serif);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed)

html, body
	overflow hidden
	//font-family 'Noto Serif', serif
	font-family 'Roboto Condensed', sans-serif
	

#content
	background url(../images/bg/sky.jpg) top left no-repeat
	background-size 100% 100%

@import 'desktop/gallery'
@import 'desktop/thumbnails'
@import 'desktop/background'
